*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(145, 189, 228);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#div-form{
    color:rgb(1, 2, 90);
}

